*.0
*.1
*.2
AutoMake/CPP/autom4te.cache/requests
*.log
*.status
*.in
*a.out
*.o
*.Po
*.make
*.properties
*.jar
*.cmake
*.ts
*.marks
*.check_cache
*.class
*.cache
*mo
*.plist
*gradlew*
*.jar
*.kts
*.bat

# Automake
AutoMake/CPP/bin/Makefile
AutoMake/CPP/bin/src/.deps/main.Po
AutoMake/CPP/bin/src/main
AutoMake/CPP/bin/src/Makefile
AutoMake/CPP/configure
AutoMake/CPP/depcomp
AutoMake/CPP/install-sh
AutoMake/CPP/missing
AutoMake/CPP/configure


#BAZEL
bazel-bin/*
bazel-CPP/bazel-out/*
bazel-out/*

#CMake
CMake/build/*
CMake/CPP/src/build/*
CMake/build/apps/AppMain
CMake/GTestCodes/GoogleTestProject_backup_mock_full/*
CMake/GTestCodes/GTest/build/*
CMake/CPP/1
CMake/.vscode/*

#C
C/Study

# GTest
UnitTest/CPP/GTestCodes


# Courses


#DsAndAlgo
DsAndAlgo/Java/Coding/build/tmp/compileJava/compileTransaction/stash-dir/Main.class.uniqueId1
DsAndAlgo/CPP/src/DP/KnapsackTest.dSYM/Contents/Info.plist
DsAndAlgo/CPP/src/DP/KnapsackTest.dSYM/Contents/Resources/DWARF/KnapsackTest
DsAndAlgo/Java/Coding/.idea/compiler.xml
DsAndAlgo/Java/Coding/.idea/jarRepositories.xml
DsAndAlgo/Java/Coding/.idea/libraries/gradle_wrapper.xml
DsAndAlgo/Java/Coding/build/tmp/compileJava/compileTransaction/stash-dir/Knapsack.class.uniqueId0
DsAndAlgo/Java/Coding/build/tmp/compileJava/previous-compilation-data.bin


#FileWatcher


#Framework 
Frameworks/SpringBoot/Hands-on-Application-Development-with-Spring-Boot-2

#GoLang


# Gradle

# Java 
libs/jsoncpp/bazel-jsoncpp
libs/jsoncpp/bazel-out
libs/jsoncpp/bazel-testlogs
libs/jsoncpp/build/*


# POC
POC/CPP


#Python
Python/health 2.conf
Python/pymongo
Python/Study


#RPC
RPC/ProtocolBuffer

#Rust

#Scala
Scala/Core

#UnitTest
UnitTest/CPP/GtestCodes
