
*.0
*.1
*.2
AutoMake/CPP/autom4te.cache/requests
*.log
*.status
AutoMake/CPP/bin/Makefile
AutoMake/CPP/bin/src/.deps/main.Po
AutoMake/CPP/bin/src/main
*.o
AutoMake/CPP/bin/src/Makefile
AutoMake/CPP/configure
AutoMake/CPP/depcomp
AutoMake/CPP/install-sh
*.in
AutoMake/CPP/missing
*.Po
