build/*
out/*
out/build/*
bin/*
a.out
bin/*
bin/*
cmake/*
bazel-CPP
bazel-bin
bazel-out
autoMake
autom4te.cache/
bazel-testlogs
*.in
Makefile.in
Makefile
*.a
*.o
aclocal.m4
configure
install-sh
missing
m4/
depcomp
